<title>Pol Filtro Jurídico</title>
<meta name="view-transition" content="same-origin">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- =========== BOOTSTRAP ICON CSS ============ -->
<link rel="stylesheet" href="/app/assets/bootstrap-icons-1.11.1/font/bootstrap-icons.css">

<!-- =========== BOOTSTRAP CSS ============ -->
<link rel="stylesheet" href="/app/assets/bootstrap-5.3.0/css/bootstrap.min.css">

<!-- =========== CSS ============ -->
<link rel="stylesheet" href="/app/assets/css/style.css">
<link rel="stylesheet" href="/app/components/navbar/navbar.css">