<!DOCTYPE html>
<html lang="pt-BR">
<head id="header">

</head>
<body id="pol-filtro-juridico">

<div id="navbar"></div>

<main id="dashboard-page">
    <h1>Dashboard</h1>
</main>

<script>
    var baseUrl = 'http://localhost:8082/pol-filtro-juridico/frontend/app';
    <!--{*============ JQUERY ===========*}-->
    document.write('<script src="' + baseUrl + '/assets/jquery-3.7.0/jquery.min.js" type="module"><\/script>');

    <!--{*============ MAIN ===========*}-->
    document.write('<script src="' + baseUrl + '/main.js" type="module"><\/script>');
</script>
<div id="footer"></div>